######################
# datas & results
######################

output/*
snapshots/*
best/*
data/*


######################
# other files
######################

*.pyc
*.log
*.loc
*.simg
*.pb

#######################
# Packages 
########################

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
